.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-section {
  flex: 1;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1in 1in 1.5in; /* Add a 1-inch gap from the left and right, and a 1.5-inch gap from the top */
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2in 1in 2in 1in; /* Add a 1-inch gap from the left and right, and a 1.5-inch gap from the bottom */
}


.video-container {
  max-width: 1080px;
  height: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video::-webkit-media-controls {
  display: none !important;
}

.video::-webkit-media-controls-play-button {
  display: none !important;
}


.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 0.5rem;
}

.hero-text {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    color: #3b3b3b;
}

.hero-title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    color: #777777;
    max-width: 600px;
}



.hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.btn {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 12rem;
  margin: 0 1rem;
  background-color: #4c1d95;
  color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  transform-style: preserve-3d;
  transform: translateZ(0);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  background-color: #d9284b;
  color: #ffffff;
  transform: translateY(-2px) translateZ(4px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: #d9284b;
  color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: #951d47;
  color: #ffffff;
}

.btn-wave {
  position: relative;
  overflow: hidden;
}

.btn-wave::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.btn-wave:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-text {
        font-size: 1.2rem;
    }
}

.rotate {
  animation-name: rotateWords;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rotateWords {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
